:root {
    /* --primary-color: antiquewhite;
    --secondary-color: burlywood; */
    --primary-color: whitesmoke;
    --secondary-color: hsl(39, 100%, 89%);
    --primary-accent: hsl(260, 57%, 50%);
    --secondary-accent: hsl(260, 57%, 80%);
    --read: hsl(120, 100%, 25%);
    --not-read: hsl(0, 100%, 27%);
    --shadow-standard: 1px 1px 6px rgb(0, 0, 0, 0.2);
    --shadow-hover: 1px 1px 6px rgb(0, 0, 0, 0.4);
    --shadow-active: 1px 1px 6px rgb(0, 0, 0, 0.6);
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    margin: 0;
    height: 100vh;
    position: relative;
}

.container {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 145px calc(100vh - 190px) 45px;
}


/* button styling */

button {
    padding: 10px 20px;
    border: none;
    border-radius: calc(10px + 0.5rem);
    background-color: var(--secondary-accent);
    box-shadow: var(--shadow-standard);
    font-weight: 600;
}

button:hover {
    box-shadow: var(--shadow-hover);
    cursor: pointer;
}

button:active {
    box-shadow: var(--shadow-active);
}

/* Card button */
.bookStatusBtn#notRead {
    background-color: hsl(0, 100%, 92%);
    margin-top: 10px;
}

.bookStatusBtn#read {
    background-color: hsl(120, 100%, 95%);
    margin-top: 10px;
}

/* delete/close button styling */

.closeContainer {
    text-align: right;
    color: darkred;
}

.closeContainer > img {
    filter: invert(10%) sepia(58%) saturate(5585%) hue-rotate(358deg) brightness(98%) contrast(117%);
    height: 20px;
    width: 20px;
}

.closeContainer > img:hover {
    cursor: pointer;
}



/* Header styling */

.header {
    background-color: var(--secondary-color);
    box-shadow: var(--shadow-standard);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.titleContainer {
    display: flex;
    align-items: center;
}

#logo {
    /* SVG filter for primary accent color */
    filter: invert(22%) sepia(25%) saturate(7470%) hue-rotate(251deg) brightness(98%) contrast(91%);

    height: 40px;
    width: 40px;
}

#title {
    color: var(--primary-accent);
    text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.1);
    margin: 0;
}

.buttonContainer {
    display: flex;
    justify-content: end;
}



/* Content styling */

.content {
    background-color: var(--primary-color);
}

.cardContainer {
    padding: 20px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
}



/* Book card styling */

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    border-left: 6px solid var(--not-read);
    background-color: var(--secondary-accent);
    box-shadow: var(--shadow-standard);
}

.card#read {
    border-left: 6px solid var(--read);
}

.card#notRead {
    border-left: 6px solid var(--not-read);
}

.bookTitle {
    font-size: 1.2rem;
    font-weight: 500;
}

.bookPages {
    font-size: 0.8rem;
}



/* Popup styling */

/* show pupup */
#newBook {
    display: block;
}

/* hide popup */
#noNewBook {
    display: none;
}

.popup{
    background-color: rgb(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
}

.formContainer {
    background-color: var(--primary-color);
    box-shadow: var(--shadow-standard);
    border-radius: 6px;
    padding: 4px;
    
    position: inherit;
    width: min-content;
    height: min-content;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
}

#bookInfo {
    border-radius: 6px;
}


/* Footer styling */

.footer {
    box-shadow: 1px -1px 4px rgb(0, 0, 0, 0.2);
    background-color: var(--secondary-color);
    text-align: center;
    height: 45px;
    margin-top: auto;
}
